pycache
unused
# tmp
#results/*
obsoleto/*
# results_nocheckpoint
checkpoints/*
# *.sh
**/__pycache__/
test.ipynb
notes.txt
*.pyc
.vscode
utils/datapreparationlocal.py
reference/*
SeismicData/*
#results/*
#scripts/*
#*.sh
environment.yml